<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @pokemon.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pokemon.description %>
</p>

<p>
  <strong>Type one:</strong>
  <%= @pokemon.type_one %>
</p>

<p>
  <strong>Type two:</strong>
  <%= @pokemon.type_two %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
